header {background:#F3FF00 ;color:  #FF00E0}
.main {background: #F3FF00;color:  #FF00E0}
.color1 {background:#F3FF00 ;color:  #FF00E0}
aside {background:#F3FF00 ;color:  #FF00E0}
footer {background:#F3FF00 ;color:  #FF00E0}

